<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dhanvi's App</ion-title> <!-- app title -->
  </ion-navbar>
</ion-header>

<ion-content padding> 
  <div *ngIf="!particle.token">
      Please login and select a device. <br />
      <button ion-button (click)="login()">Login</button>
  </div>
  <div *ngIf="particle.token && particle.device">
      <h3>Device status</h3>
      <div>
          <h5>Particle device status</h5>
          <p *ngIf="!particle.device || !particle.device.connected">The device is offline</p>
          <p *ngIf="particle.device && particle.device.connected">You are currently viewing {{particle.device.name}}</p>
      </div>
      <div>
          <h5>The temperature</h5>
          <p>
            This app will tell you the temperature outside!
          </p>
          <p>
            The temperature outside is: {{voltage}}
          </p>
      </div>
  </div>
</ion-content>
<!--comment -->